body {
   background: rgb(255, 255, 255);
   color: white;
   font-family: Helvetica Neue, Helvetica, Arial;
   margin: 0;
   padding: 0;

}
header .logo a{
    width: 300px;
    height: 80px;
    text-indent: -9999px;
    display: inline-block;
    background-image: url("images/logo.webp");
    background-repeat: no-repeat;
    background-size: 300px;
    top: -30px;
    position: relative;
    }


header {

    background-color: black;
    background-image:url("images/bakery1.jpg"); 
    background-size: 100%;
    background-position: center;
    padding: 10px 20px;
    text-align: center; 
    height: 400px;
    
    

}
header a {
color: white;
text-decoration: none;
text-transform: uppercase;
margin-top: 48px;
}

header .mobile{
    display: none;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin: 20px 30px 0px 0px;
}

@media screen and (max-width: 786px) {
    header {
        height: 300px;
        background-position: 0px -3px;
    }
   header .mobile {
        display: inline-block;
    }
    header .desktop {
        display: none;
        }
    }
    @media screen and (max-width: 500px) {
    header {
        height: 250px;
        background-position: 0px -0px;
    }
    }
    
    footer { 
    background-color: black;
    padding: 20px 20px;
    color: gray;
    text-align: center;
    font-size: 12px;
   }


.features {
    background-color: white;
    color: gray; 
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
      
 
.features figure{
    padding: 5px;
    width: 200px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    
   


}

.features figure img{
    width: 200px;  
    border-radius: 50%;
    box-shadow: gray 0px 0px 10px;
    border: 1px solid rgb(255, 255, 255);
}

